/* styles.css */
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #f5f7fa;
  color: #333;
  background-image: url(/assets/image/home.jpg);
}

.hero {
  background-color: #0d1b2a6d;
  color: white;
  padding: 2rem;
  text-align: center;
}

section {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.11);
  margin: 1rem auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

ul, ol {
  padding-left: 1.5rem;
}

.cta {
  text-align: center;
  background: #0e9dd56c;
  color: white;
  padding: 2rem;
}

button {
  color: #0e9dd5;
  background-color:  #c0d6df;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0e9dd52f;
  color: white;
}
.overview {
  background-color: #1a1a1a92;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #48aed6;
  font-size: 2rem;
  font-weight: 450;
  letter-spacing: 1.5px;
  cursor: pointer;
  border-radius: 8px sloid #0e9dd5; 
}
.solutions {
    background-color: #1a1a1a92;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #c0d6df;
  font-size: 2rem;
  font-weight: 450;
  letter-spacing: 1.5px;
  cursor: pointer;
  border-radius: 8px sloid #0e9dd5;  
}
.best-practices{

      background-color: #1a1a1a92;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #c0d6df;
  font-size: 2rem;
  font-weight: 450;
  letter-spacing: 1.5px;
  cursor: pointer;
  border-radius: 8px sloid #0e9dd5; 
}
.cta{

      background-color: #1a1a1a92;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #c0d6df;
  font-size: 2rem;
  font-weight: 450;
  letter-spacing: 1.5px;
  cursor: pointer;
  border-radius: 8px sloid #0e9dd5;
}
